 <html>
	<head>
		<title>abs</title>
		<meta charset="UTF-8">
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
	</head>
	<body>
		<h1>Abs Workout Schedule</h1>
		<p>1. Stretching (10 minutes) </p>
		<p>2. Five sets of Crunches (1 minute each set) </p>
		<p>3. Three sets of Planks (40 seconds each set) </p>
		<p>4. Four sets of Leg raises (10 reps each) </p>
		<p>5. Stretching (5 minutes) </p>

	</body>
</html>
