 <html> 
	<head>
		<title>arms</title>
		<meta charset="UTF-8">
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
	</head> 
	<body>
		<h1>Arm Workout Schedule</h1>
		<p>1. Stretching (10 minutes) </p>
		<p>2. Five sets of alternating Bicep Curls (8 reps each set) </p>
		<p>3. Three sets of Dips (8-12 reps each set) </p>
		<p>4. Five sets of Hammer Curls (8-12 reps each set) </p>
		<p>5. Stretching (5 minutes) </p>
		
	</body>
</html>
