<!DOCTYPE html>
<html>
    <head>
        <title>cardio</title>
		<meta charset="UTF-8">
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
	</head>
	<body>
		<h1>Cardio Workout Schedule</h1>
		<p>1. Stretching (10 minutes)</p>
		<p>2. Five sets of Jumping Jacks (1 minute each set)</p>
		<p>3. Five sets of Burpees (1 minute each set)</p>
		<p>4. Five sets of Jumping Rope (1 minute each set)</p>
		<p>5. Stretching (5 minutes)</p>

	</body>
</html>