 <html>
	<head>
		<title>compound</title>
		<meta charset="UTF-8">
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
	</head>
	<body>
		<h1>Compound Workout Schedule</h1>
		<p>1. Stretching (10 minutes) </p>
		<p>2. Five sets of Lunges (6-10 steps each set)</p>
		<p>3. Four sets of Bent-over rows (8-10 reps each set)</p>
		<p>4. Five sets of Push-Ups (6-12 reps each set) </p>
		<p>5. Stretching (5 minutes) </p>

	</body>
</html>
