 <html>
	<head>
		<title>legs</title>
		<meta charset="UTF-8">
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
	</head>
	<body>
		<h1>Leg Workout Schedule</h1>
		<p>1. Stretching (10 minutes) </p>
		<p>2. Five sets of Quad leg extensions (6-12 reps each set) </p>
		<p>3. Five sets of Barbell Squats (4-10 reps each set) </p>
		<p>4. Four sets of Hamstring leg curls (8-12 reps each set) </p>
		<p>5. Stretching (5 minutes) </p>

	</body>
</html>
