 <html>
	<head>
		<title>shoulders</title>
		<meta charset="UTF-8">
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
		<link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}"/>
	</head>
	<body>
		<h1>Shoulder Workout Schedule</h1>
		<p>1. Stretching (10 minutes) </p>
		<p>2. Four sets of Overhead Press (Dumbbells) (10-12 reps each set) </p>
		<p>3. Five sets of Lateral Raises (8-12 reps each set) </p>
		<p>4. 3 sets of Front Raises (6-10 reps each set) </p>
		<p>5. Stretching (5 minutes) </p>

	</body>
</html>
